[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
scikit-learn = "*"
pypdf2 = "*"
python-docx = "*"
pywebview = "*"
pyinstaller = "*"
openai = "*"
python-dotenv = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3"
